#detail .gradient-border {
  border: 5px solid;
  border-image: linear-gradient(
      90deg,
      #a8620a 2%,
      #e09519 20%,
      #ffe581 48%,
      #fcdc75 52%,
      #f6c755 60%,
      #eca522 71%,
      #e8980f 75%,
      #feb838 100%
    )
    1;
}
.wrap {
  -webkit-text-stroke: 0.5px #e2e53c;
  color: #f903aa;
  font-size: 60px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 8px 22px 4px #00000040;
  top: 0;
}
