.circle {
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: x-axis 6s infinite linear;
}
.wrapper {
  animation: y-axis 1s infinite ease-in-out;
}

@keyframes x-axis {
  50% {
    transform: translateX(1200px);
  }
}
@keyframes y-axis {
  50% {
    transform: translateY(200px);
  }
}
html {
  scroll-behavior: smooth;
}

#links .gradient-text {
  background: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #fe3873 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background {
  background-image: url("/images/Rectangle 82.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 680px;
  margin-bottom: 90px;
}

@media only screen and (max-width: 768px) {
  .background {
    height: 900px;
    margin-bottom: 0;
    opacity: 95%;
    background-image: url("/images/Rectangle 126.png");
  }
  .rocket {
    margin-bottom: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .background {
    height: 680px;
    margin-bottom: 10px;
    opacity: 95%;
  }
}

.rocket {
  cursor: pointer;
  position: absolute;
  top: 4527px;
  right: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .rocket {
    top: 4527px;
    right: 5px;
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .rocket {
    top: 3300px;
    right: 166px;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .background {
    height: 900px;
    margin-bottom: 0;
    opacity: 95%;
    background-image: url("/images/Rectangle 126.png");
  }
}
