.circle {
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: x-axis 6s infinite linear;
}
.wrapper {
  animation: y-axis 1s infinite ease-in-out;
}

@keyframes x-axis {
  50% {
    transform: translateX(1200px);
  }
}
@keyframes y-axis {
  50% {
    transform: translateY(200px);
  }
}
html {
  scroll-behavior: smooth;
}

#links .gradient-text {
  background: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #fe3873 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
