@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Routhem";
  src: url("/fonts/Routhem.woff2") format("woff2"),
    url("/fonts/Routhem.otf") format("opentype"),
    url("/fonts/northden-rough.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
